{% extends 'base2.html.twig' %}

{% block title %}Hello Dashboard2Controller!
{% endblock %}

{% block body %}
	<nav class="interieur">
		<div class="box">
			<div class="container-2">
				<span class="icon">
					<i class="fa fa-search"></i>
				</span>
				<input type="search" id="search" placeholder="Recherche..."/>
			</div>
		</div>
		<ul>
			<li><a href=""><svg width="40" height="35" viewbox="0 0 40 35" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M20 3.39111C17.2727 3.39111 15.142 4.32725 13.608 6.19954C12.0739 8.07182 11.3068 10.4652 11.3068 13.3796C11.2879 17.0005 12.5379 19.8707 15.0568 21.9903C15.3788 22.2729 15.4924 22.635 15.3977 23.0766L14.7443 24.3483C14.536 24.7722 14.2282 25.1034 13.821 25.3419C13.4138 25.5803 12.5568 25.9203 11.25 26.3619C11.1932 26.3796 9.99527 26.7417 7.65625 27.4482C5.31723 28.1547 4.07197 28.5433 3.92045 28.6139C2.32955 29.2321 1.28788 29.8769 0.795455 30.548C0.265152 31.6608 0 34.4781 0 38.9998H40C40 34.4781 39.7348 31.6608 39.2045 30.548C38.7121 29.8769 37.6705 29.2321 36.0795 28.6139C35.928 28.5433 34.6828 28.1547 32.3438 27.4482C30.0047 26.7417 28.8068 26.3796 28.75 26.3619C27.4432 25.9203 26.5862 25.5803 26.179 25.3419C25.7718 25.1034 25.464 24.7722 25.2557 24.3483L24.6023 23.0766C24.5076 22.635 24.6212 22.2729 24.9432 21.9903C27.4621 19.8707 28.7121 17.0005 28.6932 13.3796C28.6932 10.4652 27.9261 8.07182 26.392 6.19954C24.858 4.32725 22.7273 3.39111 20 3.39111Z" fill="#C4C4C4"/></g><defs><clipPath id="clip0"><rect width="40" height="39" fill="white"/></clipPath></defs></svg></a></li>

			<li><a href=""><svg width="35" height="35" viewbox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.3332 18.9582V16.0415H10.2082V11.6665L2.9165 17.4998L10.2082 23.3332V18.9582H23.3332Z" fill="#C4C4C4"/><path d="M29.1667 4.375H16.0417C14.4331 4.375 13.125 5.68313 13.125 7.29167V13.125H16.0417V7.29167H29.1667V27.7083H16.0417V21.875H13.125V27.7083C13.125 29.3169 14.4331 30.625 16.0417 30.625H29.1667C30.7752 30.625 32.0833 29.3169 32.0833 27.7083V7.29167C32.0833 5.68313 30.7752 4.375 29.1667 4.375Z" fill="#C4C4C4"/></svg></a></li>
		</ul>
	</nav>
	<h3>Tableau de bord</h3>
	<section class="centrale">
		<article></article>
	</section>
	<section class="attestation">
		<h4>Dernière évaluation</h4>
		<h1></h1>
		<h2>
			<svg width="44" height="56" viewbox="0 0 44 56" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M38.5072 21L44 26.6328L36.2757 28.9297L38.1066 36.4219L30.8401 34.8359L36.6762 52.6094C36.6762 53.8125 36.1422 54.7604 35.0741 55.4531L32.0988 52.6094L28.5514 56C27.7122 55.8177 27.0256 55.4076 26.4915 54.7695C25.9575 54.1315 25.6905 53.4115 25.6905 52.6094L21.9714 41.3438L18.3095 52.6094C18.3095 53.4115 18.0425 54.1315 17.5085 54.7695C16.9744 55.4076 16.2878 55.8177 15.4486 56L11.9012 52.6094L8.92588 55.4531C7.85782 54.7604 7.3238 53.8125 7.3238 52.6094L13.1599 34.8359L5.89337 36.4219L7.72432 28.9297L0 26.6328L5.49285 21L0 15.3672L7.72432 13.125L5.89337 5.63281L13.7321 7.38281L16.078 0L21.9714 5.25L27.8648 0L30.2679 7.38281L38.1066 5.63281L36.2757 13.125L44 15.3672L38.5072 21ZM22 10.5C18.9675 10.5 16.3736 11.5299 14.2185 13.5898C12.0633 15.6497 10.9857 18.1289 10.9857 21.0273C10.9857 23.9258 12.0633 26.4049 14.2185 28.4648C16.3736 30.5247 18.9675 31.5547 22 31.5547C25.0325 31.5547 27.6264 30.5247 29.7815 28.4648C31.9367 26.4049 33.0143 23.9258 33.0143 21.0273C33.0143 18.1289 31.9367 15.6497 29.7815 13.5898C27.6264 11.5299 25.0325 10.5 22 10.5Z" fill="#EAD832"/>
			</svg>
			CQS</h2>
		<span>
			<svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M15 1.875C22.3125 1.875 28.125 7.6875 28.125 15C28.125 22.3125 22.3125 28.125 15 28.125C7.6875 28.125 1.875 22.3125 1.875 15C1.875 7.6875 7.6875 1.875 15 1.875ZM15 0C6.75 0 0 6.75 0 15C0 23.25 6.75 30 15 30C23.25 30 30 23.25 30 15C30 6.75 23.25 0 15 0Z" fill="black"/>
				<path d="M13.125 5.625H16.875V18.75H13.125V5.625Z" fill="black"/>
				<path d="M13.125 20.625H16.875V24.375H13.125V20.625Z" fill="black"/>
			</svg>
		</span>
		<div id="info">
		<p>jksksksk</p>
		</div>
	</section>
{% endblock %}
