{% extends 'base.html.twig' %}

{% block title %}Hello Dashboard2Controller!{% endblock %}
{% block nav %}
{% include "Template_parts/_nav2.html.twig" %}
{% endblock %}
{% block body %}
<h1>Non</h1>
{% endblock %}
