{% extends 'base.html.twig' %}

{% block title %}Hello ParametreController!
{% endblock %}

{% block body %}
<h1 class="mt-4 mb-4 " style="text-align:center">Paramètre</h1>
	<section class="container">
		<div class="form-group">

			{# <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				Machines
			</button> #}
			<h5>
			Machines
			</h5>
			<a href="" class="form-control" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Machines</a>

			<div class="collapse" id="collapseExample">
				<div class="card card-body ">

					<a href="{{path('machine_index')}}">
						<p>Afficher la liste des marques de machines et leur models</p>
					</a>
				</div>
			</div>
		</div>
		{# <div class="form-group">


			<a class="form-control" href=""  data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
				Button with data-target
			</a>

			<div class="collapse" id="collapseExample2">
				<div class="card card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
				</div>
			</div>
		</div>
		<div class="form-group">


			<a class="form-control" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
				Button with data-target
			</a>

			<div class="collapse" id="collapseExample3">
				<div class="card card-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
				</div>
			</div>
		</div> #}
	</section>
{% endblock %}
