
html{
  height: 100vh;
  width: 99vw;
}
body{
    display: flex;
    height: 100%;
    width: 100%;
    
}
nav header img{
  
width: 164px;
height: 110px;
margin-left: 63px;
top: 24px;
}
aside{
  
    width: 289px;
height: 120vh;
left: 0px;
top: 0px;

background: #C4C4C4;
}
nav header{
    margin-bottom: 1vh;
}
ul{
 
width: 289px;
height: 265px;
left: 0px;
margin-top: 2vh;
}
ul li{
    list-style-type: none;
    margin: 1.5vw;
}

main{
    
width: 100%;
height:100%;
left: 289px;
top: 0px;

}
nav a{
    color: #CF361C;
}
#param{
    
width: 103px;
height: 23px;
margin-left: 50px;
margin-top: 1vh;
}

#profil{
    border-radius:50% ;
    margin-left: .7vw;
    margin-right: .7vw;
    
}
.photo{
    display: flex;
    margin-top: 2vw;
    margin-bottom: 5vh;
}
.photo h4{
  margin-top: auto;
  margin-bottom: auto;
}
hr{
    border-top: 2px solid #C6DEEA ;
    ;
}
.interieur{
    display: flex;
    justify-content: space-between;
    height: 12vh;
}
.interieur ul{
    display: flex;
}

/* Input search  */
.box{
  margin: 25px 50; 
    width: 300px;
    height: 100px;
  }

  /* Search 2 - expand input width */
.container-2{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container-2 input#search{
    width: 50px;
    height: 50px;
    background: #F5F5F5;
    border: none;
    font-size: 10pt;
    float: left;
      color: #262626;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: black;
    
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
    
  }
  
  .container-2 input#search::-webkit-input-placeholder {
     color: #65737e;
  }
  .container-2 input#search:-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
  }
  .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;  
  }
  .container-2 input#search:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container-2 .icon{
    position: absolute;
   
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: black;
  }
  
    /* ANIMATION EFFECTS */
  .container-2 input#search:focus, .container-2 input#search:active{
      outline:none;
  }
    .container-2:hover input#search{
      outline:none; 
      width: 300px;
    }
      .container-2:hover .icon{
      color: #93a2ad;
    }
.centrale article{
    position: absolute;
    width: 509px;
    height: 500px;
    left: 901px;
    top: 115px;
background-color: white;    
}

.attestation{
    position: absolute;
width: 509px;
height: 280px;
left: 785px;
top: 670px;

background: #FFFFFF;
border: 7px solid rgba(0, 0, 0, 0.35);
box-sizing: border-box;
box-shadow: 3px 7px 8px rgba(0, 0, 0, 0.25);
}
.attestation h4{
  position: absolute;
width: 299px;
height: 41px;
left: 97px;
top: 31px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 41px;
/* identical to box height */
cursor: pointer;


color: #888888;
}

.attestation h2{
  position: absolute;
width: 200px;
height: 56px;
left: 150px;
top: 166px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;

color: #888888;
}
.attestation span{
  position: absolute;
width: 30px;
height: 30px;
left: 350px;
top: 195px;
}
.attestation span:hover  #info{
  display: block;
 
}

.attestation #info{
   position: absolute;
width: 496px;
height: 275px;
left: 0px;
top: 0px;
display: none;

background: #C4C4C4;
}
#titre{
  margin-left: 2vw;
}
#tete_historique{
    position: absolute;
width: 210px;
height: 37px;
left: 49px;
top: 3px;

background: #C6DEEA;
box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.25);
  }

.attestation h1{
  position: absolute;
width: 125px;
height: 70px;
left: 60px;
top: 93px;
color: #888888;
font-size: 5em;
}
#list{
  margin-top: 7vh;
  overflow: auto;
}
#donnees_profil{
  height: 28%;
  width: 95%;
  margin-left: 3vw;
  background-color: white;
  /* display: flex; */
  border: 2px solid rgba(79, 72, 72, 0.57);
box-sizing: border-box;
box-shadow: 16px 13px 7px rgba(0, 0, 0, 0.25);
}
#donnees_profil div img{
  height: 17vh;
  border-radius: 50%;
  margin-top: 3.5vh;
  margin-bottom: auto;
}
#donnees_profil div{
  padding-top: auto;
  padding-bottom: auto;
}
#donnees_profil article div{
  margin: 1vw;
}

#donnees_contact{
  margin-top: 3vh;
  
  height: 28%;
  margin-left: 3vw;
  width: 95%;
  padding-top:1vh ;
  overflow: auto;
  background-color: white;
  
  border: 2px solid rgba(79, 72, 72, 0.57);
box-sizing: border-box;
box-shadow: 16px 13px 7px rgba(0, 0, 0, 0.25);
}
#donnees_contact h5{
  text-align: center;
  margin-top: 1vh;
}
#donnees_atelier{
  height: 28%;
  margin-left: 3vw;
  margin-top: 3vh;
  width: 100%;
  background-color: white;
  
  border: 2px solid rgba(79, 72, 72, 0.57);
box-sizing: border-box;
box-shadow: 16px 13px 7px rgba(0, 0, 0, 0.25);

}
#donnees_atelier h5{
  padding-top:1vh ;
  text-align: center;
}
#info_machine button{
margin-left: 80%;
margin-top: 2vh;
}
#btn_afficher{
  height: 5vh;
  margin-top: auto;
  margin-bottom: auto;
}
.avenir article{
  position: absolute;
width: 509px;
height: 546px;
left: 340px;
top: 190px;
background-color: white;
border: 2px solid #A9A1A1;
box-sizing: border-box;
box-shadow: 13px 10px 14px rgba(0, 0, 0, 0.25);
}
.entete_avenir{
  position: absolute;
width: 250px;
height: 37px;
left: 49px;
top: 17px;

background: #E4E3E3;

box-shadow: 12px 10px 6px rgba(0, 0, 0, 0.25);
}
#liste_des_attestation{
  width: 100%;
}

#entete_attestation{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  margin-bottom: 3vh;
  padding: .2vw;
  
width: 19vw;
height: 6vh;
/* left: 20%; */
top: 17px;

background: white;
border: 2px solid #9C9292;
box-sizing: border-box;
box-shadow: 12px 10px 6px rgba(0, 0, 0, 0.25);
}

#liste_des_attestation .table{
  margin-top: 5vh;
}
#entete_message{
  width: 15vw;
  height: 5vh;
  padding-left: 2vw;
  padding-right: 2vw;
  background: white;
border: 2px solid #9C9292;
box-sizing: border-box;
box-shadow: 12px 10px 6px rgba(0, 0, 0, 0.25);

margin-left: 5vw;
}