html{
    width:90vw;
    height:100vh;
    
}
body{
  background-image: url('../img/background.jpg');
  width:100% ;
  height: 100%;
  
  
}
header{
    position: absolute;
    display: flex;
    width: 81.5%;
    position: absolute;
    height: 73px;
    left: 281px;
    top: 0px;
    
    background: #CF361C;
    font-family: 'Archivo Narrow', Helvetica, Arial,
    Lucida, Sans-Serif, Normal;
   
    
}
a:hover{
    text-decoration: none;
}
header div{
    width: 283px;
height: 73px;
left: 0px;
top: 0px;

background: #A32B16;
}
nav{
    display: flex;
    width: 100%; 
    justify-content:space-between;
}
#nav1{
display: flex;
}
#nav1 li a{
    margin: 0.7vw;

}
#nav1 li{
    padding-top: 1.5vh;
}
#nav2 li{
    padding-top: 1.5vh;
}
 #nav2{
    display: flex;
    
}
#nav2 li a{
    margin: 1.2vw;
    margin-top: 2vh;
}
#nav1 li a:hover{
    color: white;
}
#nav2 li a:hover{
    color: white;
}
li{
    list-style-type: none;
    margin: 0.2vw;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
aside{
    position: absolute;
width: 283px;
height: 100%;
left: -2px;
top: 0px;
background: #C6DEEA;
}
aside div{
    position: absolute;
width: 283px;
height: 73px;
left: 0px;
top: 0px;

background: #A32B16;
}
aside div a img{
 position: absolute;
width: 127px;
height: 62px;
left: 7px;
top: -135px;
 
z-index: 1;
}
#bad{
    background-color:#C6DEEA ;
    width: 100%;
    margin-top: 5vh;
    height: 7vh;
}
.liste_des_historique{
    width: 100%;
    height: 90%;
    margin-top: 2vh;
    overflow: auto;
    z-index: 0;
}
aside a{
    position: absolute;

left: 50px;
top: 142px;
text-decoration: none;
color: black;
}
main{
    position: absolute;
width:81.5%;
height: 82%;
left: 281px;
top:  18vh;
 background-color: white;
 font-family: 'Open Sans', Arial, Sans-Serif, Normal;
 
}

#listclient{
    background-color: white;
}
#ajouter{
    position: absolute;
width: 193px;
height: 54px;
left: 967px;
top: -40px;
color: white;
padding-top: .8vh;
padding-left: 1.7vw;


border: 1px solid rgb(228, 102, 102);
box-sizing: border-box;
text-decoration: none;
}
/* #clients{
    position: absolute;
    width: 76vw;
height:  71.6vh;
left: 50px;
top: 100px;



background: #FFFFFF;
border: 3px solid rgba(0, 0, 0, 0.25);
box-sizing: border-box;
box-shadow: 3px 7px 6px rgba(0, 0, 0, 0.25);
margin-left: auto;
margin-right: auto;
padding-left: 0.8vw;
padding-top: 2vh;
} */
/* #clients input{

} */

#la{
    position: absolute;
    width: 300px;
height: 63px;
left: 204px;
top: -40px;
padding-top: .8vh;
padding: 0.4vw;
z-index: 1;

background: #ffffff;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: 5px 7px 6px rgba(0, 0, 0, 0.25);
}
.box{
    margin: 100px auto;
    width: 218px;
    height: 37px;
    position: absolute;
    
left: 32px;
top: 18.7vh;

background: #F5F5F5;
border-radius: 6px;
    
  }
  
  /* Search 1 - bg change*/
  .container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    width: 218px;
    height: 37px;
    background: #F5F5F5;
border-radius: 6px;
    
    
  }
  .container-1 input#search{
    width: 300px;
    height: 50px;
    background: #F5F5F5;
border-radius: 6px;
    border: none;
    font-size: 10pt;
    float: left;
      color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 218px;
height: 37px;
    
    
    
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
  }
  
  .container-1 input#search::-webkit-input-placeholder {
     color: #65737e;
  }
  .container-1 input#search:-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
  }
  .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;  
  }
  .container-1 input#search:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container-1 .icon{
    position: absolute;
    top: -15%;;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #C6DEEA;
  }
  
    /* ANIMATION EFFECTS */
    .container-1 input#search:focus, .container-1 input#search:active{
      outline:none;
      background: #ffffff;
    }

#tab h1{
 text-align: center;
}
#tab h3{
    text-align: center;
}
#tab ul li{
    width: 20vw;
   
}
#tab ul li a{
    padding-left: 9vw;
    padding-right: auto;
}
.donnees{
    display: flex;
}
.vertical-line{
    border-left: 2px solid #000;
    display: inline-block;
    height: 40vh;
    margin: 0 20px;
  }

.table{
    width: 55%;
}
#sorti{
    margin-left: 1.5vw;
    margin-top: 5vh;
    position: absolute;
width: 40px;
height: 40px;
left: 5px;
top: -105px;

}

#ateli{
position: absolute;
width: 207px;
height: 46px;
left: 80%;
top:27vh;

}

.modif form input{
    margin-left: 2vw;
    margin-top: 1vh;
    width: 20vw;
    

}
.modif form label{
    width: 10vw;
}

.creer {
	width: 70%;
	height: 75vh;
     margin: auto 2vw;
	background: white;
	padding-bottom: 25px;
	/* text-align: center; */
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
}
#at{
    margin-top: 2vh;
    margin-bottom: 3vh;
    text-align: center;
}
.creer form  input {
	box-sizing:border-box;
	border: none;
	border-bottom:1px solid #dadfe2;
	border-radius: 0px;
	outline: none !important;
	width: 95%;
    padding-bottom:4px;
    padding-left:.9vw ;
	height:20px;
	text-align: left;
	font-size:18px;
	font-weight:normal;
	color:#333;
	margin-bottom:30px;
	transition:all .2s;
	-moz-transition:all .2s;
	-webkit-transition:all .2s;
	-o-transition:all .2s;
}
.creer form input:focus {
	outline: none !important;
}
.creer form input:invalid { /* Gets Rid of Firefox Red Border */
    box-shadow: none !important;
}
.creer form input[type=text],.creer form input[type=password]{
    width: 45vw;
    height: 3vh;
}
.creer form input[type=checkox]{
    margin: 0;
    text-align: start;
}
.creer form select{
    background-color: #F5F5F5;
    border: none;
    width:50% ;
    margin-left: 2vw;
    height: 3vh;
}
.creer form label{
	text-align: left;
	font-size: 18px;
	color: #abb7b7;
	cursor: text;
}
#formhead {

	height: 60px;
	text-align: center;
	color: black;
	font-size: 18px;
	font-weight: normal;
	position: relative;
	line-height: 60px;
	
    margin-bottom: 30px;
    margin-top: 2vh;
}

.creer form button {
    width: 7vw;
    background-color: #C6DEEA;
    margin: auto;
    margin-top: 30px !important;
    border-radius: 5px;
    color: green;
}
.creer .btn2 {
    width: 7vw;
    background-color: #C6DEEA;
    margin: auto;
    margin-top: 45px !important;
    border-radius: 5px;
    border: red 1px solid;
    height: 5vh;
    
    padding: 6px 12px;
}
/* .creer form button {
	opacity: 0.9;
	box-sizing: border-box;
} */
#liste{
    width: 100%;
    margin-top: 13vh;
    padding: 1vw;
    height: auto;
    overflow: auto;
    
}
#listeH{
    width: 100%;
    margin-top: 13vh;
    padding: 1vw;
    
    height: 60%;
    z-index: 0;
}
#listeAtelier{
    width: 100%;
}
 #inscriptionA{
    height: 90%;
    overflow: scroll;
}
#inscriptionF{
    height: 80%;
     overflow: auto; 
}
#inscriptionC{
    overflow: auto;
    height: 80%;
    
} 
#new{
    text-align: center;
    margin-top: 2vh;
    font-size: 2.3vw;
    /* text-decoration: underline black; */

}
#mach{
    text-align: center;
    margin-left: 85%;
    color: black;
}
#mach a{
    color: white;
}
#entete_historique{
    position: absolute;
    width: 35vw;
    height: 57px;
    left: 70px;
    top: .7vh;
    margin-bottom: 10vh;
    padding: .9vh;
    z-index: 1;
    
    background: white;
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.25);
}
.historique{
    position: absolute;
width:47%;
height: 90%;
left: 640px;
top: 15px;
overflow-y: auto;

/* background: rgb(182, 98, 98); */
/* border: 1px solid black; */
box-sizing: border-box;
box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.25);
}
#tete_historique{
    position: absolute;
width: 418px;
height: 57px;
left: 670px;
top: 1.3vh;
padding: .7vw;
background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.25);
z-index: 1;
}

.avenir{
    position: absolute;
width: 557px;
height: 90%;
left: 25px;
top: 55px;

background: #C6DEEA;
border: 1px solid #ffffff;
box-sizing: border-box;
box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.25);
}
.avenir h3{
    position: absolute;
width: 344px;
height: 57px;
left: 60px;
top: 15px;
padding: .6vw;
background: #ffffff;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.25);
}
#historiqueC{
    width: 100%;
    margin-top:1vh;
}
#listeTec{
    position: absolute;
width: 200px;
height: 21px;
left: 50px;
top: 460px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #000000;
}

#nouveeuTec{
    margin-left: 80%;
}
#tech{
    text-align: center;
    margin-top: 2vh;
}
#selection0{
    display: flex;
    justify-content: space-around;
}
.selection1{
    width: 20%;
}
.selection2{
    width: 20%;
    
}
.selection1 select{
    height: 5vh;
}
.selection{
    width: 20%;
}


#fiche_visite_machines{
    height: 5vh;
}
#fiche_visite_lier{
    height: 5vh;
}
#annuler{
    margin-left: 85%;
}
#supp{
    margin-left: 85%;
}
.tarmac{
    display: flex;
}
.infoAt{
    width: 70%;
}
#editer{
    position: absolute;
    top: 7vh;
    left: 90%;
}
#select{
    display: flex;
}
#machine{
    margin-left: 80%;
}
#machine a{
    color: black;
}
#ProfilTechnicien article{
    display: flex;
    height: 38%;
    width: 100%;
    margin-top: 2vh;
}

/* #ProfilTechnicien article img{
    width: 25%;
    height: 100%;
    
} */
#ProfilTechnicien{
    height: 85%;
    width: 90%;
}
#ProfilTechnicien article div h2{
    text-align: center;
}
#ProfilTechnicien article div{
    width:70% ;
    margin-left: 2vw;
}
#ProfilTechnicien article div table{
    margin: 1vh;
}
#profilEdit{
    margin-left: 80%;
}
#hist{
    width: 100%;
    
    
}
.hist{
    height: 55%;
    overflow: auto;
}
.generale article{
   display: flex;
   justify-content: space-between;
   background-color: tomato;
   height: 25vh;
}
.generale article h1{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}
.generale article div{
    padding: 2vw;
}
.generale article div img{
    width: 20vw;
}
.generale section h4{
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#signature{
    height: 40vh;
    border: .5px solid rgb(138, 135, 135);
}
#devis{
    width: 100%;
}
.notation{
    width: 100%;
    height: 40vh;
    border: 1px solid rgb(138, 135, 135);
}
#observations{
    height: 40vh;
    border: 1px solid rgb(138, 135, 135);
}
.generale section h5{
    text-align: center;
}