{% extends 'base.html.twig' %}

{% block title %}Hello HistoriqueController!{% endblock %}

{% block body %}

	
    
    <h3>Historique d'intervention</h3>
   <td>{{ fiche_visite.id }}</td>
{% endblock %}
