{% extends 'base.html.twig' %}

{% block title %}Edit Techniciens{% endblock %}

{% block body %}
    <h1 id="tech">Modifier technicien</h1>

    {{ include('techniciens/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('techniciens_index') }}">Retour</a>

    {{ include('techniciens/_delete_form.html.twig') }}
{% endblock %}
