{% extends 'base.html.twig' %}

{% block title %}New Techniciens{% endblock %}

{% block body %}
    <h1 id="tech">Ajouter un technicien</h1>

    {{ include('techniciens/_form.html.twig') }}

    <a href="{{ path('techniciens_index') }}">Retour</a>
{% endblock %}
