<aside>
	<div>
		<a href="{{path('dashboard')}}"><img src="{{ asset('assets/img/logo.png')}}" alt=""></a>
	</div>
	<a href="{{path('fiche_visite_new')}}">
		<svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M5 7.5H2.5V25C2.5 26.375 3.625 27.5 5 27.5H22.5V25H5V7.5ZM25 2.5H10C8.625 2.5 7.5 3.625 7.5 5V20C7.5 21.375 8.625 22.5 10 22.5H25C26.375 22.5 27.5 21.375 27.5 20V5C27.5 3.625 26.375 2.5 25 2.5ZM25 20H10V5H25V20ZM16.25 18.75H18.75V13.75H23.75V11.25H18.75V6.25H16.25V11.25H11.25V13.75H16.25V18.75Z" fill="black"/>
		</svg>
		Fiche de maintenance</a>

	<div class="box">
		<div class="container-1">
			<span class="icon">
				<i class="fa fa-search"></i>
			</span>
			<input type="search" id="search" placeholder="Recherche..."/>
		</div>
	</div>

	{# <a id="" href="{{ path('techniciens_index')}}">
		<svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M18.9005 1.92281C18.0948 1.26656 16.5484 0.9375 14.9996 0.9375C13.4518 0.9375 11.9054 1.26609 11.0996 1.92234V11.9583H18.901V1.92281H18.9005Z" fill="black"/>
			<path d="M27.3677 12.9257L27.6171 13.0588C27.3705 8.24008 25.1829 4.37055 19.6582 3.0332L19.6587 11.1534C22.8663 11.4702 25.5832 12.1012 27.3677 12.9257" fill="black"/>
			<path d="M10.3427 11.1534L10.3436 3.0332C4.81801 4.37055 2.63035 8.24008 2.38379 13.0593L2.63316 12.9262C4.41816 12.1012 7.13504 11.4702 10.3427 11.1534" fill="black"/>
			<path d="M27.1875 16.6342V15.0001H29.0625C29.0625 14.3696 28.5787 13.7739 27.7345 13.2371C26.6362 12.9681 23.4567 12.2411 19.6584 11.8623V12.6671H10.342V11.8623C6.54281 12.2411 3.36141 12.9676 2.265 13.2381C1.42078 13.7739 0.9375 14.3696 0.9375 15.0001H2.8125V16.6342C2.1075 16.9656 1.40625 17.7142 1.40625 19.2189C1.40625 21.085 2.48531 21.7998 3.31125 21.9812C3.87703 25.9136 12.2269 29.0626 15 29.0626C17.7731 29.0626 26.123 25.9136 26.6888 21.9812C27.5147 21.7998 28.5938 21.085 28.5938 19.2189C28.5938 17.7142 27.8925 16.9656 27.1875 16.6342ZM26.25 21.0939H25.7812V21.5626C25.7812 24.8612 17.8542 28.1251 15 28.1251C12.1458 28.1251 4.21875 24.8612 4.21875 21.5626V21.0939H3.75C3.69281 21.0939 2.34375 21.0723 2.34375 19.2189C2.34375 17.4217 3.60984 17.3467 3.75 17.3439H4.21875V15.0001H25.7812V17.3439H26.25C26.3072 17.3439 27.6562 17.3654 27.6562 19.2189C27.6562 21.0161 26.3902 21.0911 26.25 21.0939Z" fill="black"/>
			<path d="M11.7188 18.0738C11.7188 17.8151 11.6658 17.5709 11.5805 17.3417C12.0633 17.6918 12.4519 18.1629 12.6562 18.776C12.6562 15.027 6.09375 15.027 6.09375 18.3082C6.39938 17.5432 7.10719 17.0332 7.95141 16.7838C7.66047 17.151 7.50148 17.6054 7.5 18.0738C7.5 18.6333 7.72224 19.1698 8.11782 19.5654C8.51341 19.961 9.04993 20.1832 9.60938 20.1832C10.1688 20.1832 10.7053 19.961 11.1009 19.5654C11.4965 19.1698 11.7188 18.6333 11.7188 18.0738" fill="black"/>
			<path d="M17.3438 18.776C17.5481 18.1629 17.9367 17.6918 18.4195 17.3417C18.3299 17.5754 18.283 17.8235 18.2812 18.0738C18.2812 18.6333 18.5035 19.1698 18.8991 19.5654C19.2947 19.961 19.8312 20.1832 20.3906 20.1832C20.9501 20.1832 21.4866 19.961 21.8822 19.5654C22.2778 19.1698 22.5 18.6333 22.5 18.0738C22.4984 17.6054 22.3395 17.1511 22.0486 16.7838C22.8928 17.0332 23.6006 17.5432 23.9062 18.3082C23.9062 15.027 17.3438 15.027 17.3438 18.776Z" fill="black"/>
			<path d="M18.7964 23.3003H11.2031C10.7812 23.3003 10.7812 23.702 10.7812 23.702C10.7812 25.3098 12.8906 26.1128 15 26.1128C17.1094 26.1128 19.2188 25.3098 19.2188 23.702C19.2183 23.702 19.2183 23.3003 18.7964 23.3003Z" fill="black"/>
		</svg>
		Liste des techniciens</a> #}
</aside>
