<aside>
	<div>
		<a href="{{path('dashboard')}}"><img src="{{ asset('assets/img/logo.png')}}" alt=""></a> 
	</div>
	<a href="{{path('fiche_visite_new')}}"><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5 7.5H2.5V25C2.5 26.375 3.625 27.5 5 27.5H22.5V25H5V7.5ZM25 2.5H10C8.625 2.5 7.5 3.625 7.5 5V20C7.5 21.375 8.625 22.5 10 22.5H25C26.375 22.5 27.5 21.375 27.5 20V5C27.5 3.625 26.375 2.5 25 2.5ZM25 20H10V5H25V20ZM16.25 18.75H18.75V13.75H23.75V11.25H18.75V6.25H16.25V11.25H11.25V13.75H16.25V18.75Z" fill="black"/>
</svg>
 Fiche de maintenance</a>

 <div class="box">
  <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />
  </div>
</div>
</aside>
