{% extends 'base.html.twig' %}

{% block title %}New Machine{% endblock %}

{% block body %}
    <h2 class="mt-3 mb-4" style="text-align:center">Ajouter une nouvelle machine</h2>

    {{ include('machine/_form.html.twig') }}

    <a class="btn btn-info  mr-4 float-right" href="{{ path('machine_index') }}">Retour</a>
{% endblock %}
