{% extends 'base.html.twig' %}

{% block title %}Edit Marque
{% endblock %}

{% block body %}
	<a class="btn btn-info  ml-4 mt-3 " href="{{ path('marque_index') }}">Retour</a>
	<h1 class="mt-3 mb-4" style="text-align:center">Modifier les détails Marque</h1>


		
			{{ include('marque/_form.html.twig', {'button_label': 'Mise à jour'}) }}

	<div class="float-right mr-4">{{ include('marque/_delete_form.html.twig') }}</div>	
	


{% endblock %}
