{% extends 'base.html.twig' %}

{% block title %}Ajouter une Marque{% endblock %}

{% block body %}
    <h1 class="mt-3 mb-4" style="text-align:center">Ajouter une nouvelle Marque</h1>

    {{ include('marque/_form.html.twig') }}

    <a class="btn btn-info  mr-4 float-right" href="{{ path('marque_index') }}">Retour</a>
{% endblock %}
