{% extends 'base.html.twig' %}

{% block title %}Edit Clients
{% endblock %}

{% block body %}
		<h2>Edit Clients</h2>
<a href="{{ path('clients_show', {'id': client.id}) }}">back to list</a>


				{{ include('clients/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('clients/_delete_form.html.twig') }}
		
		

{% endblock %}
