{% extends 'base.html.twig' %}

{% block title %}New Clients
{% endblock %}

{% block body %}
	

			<h1 id="new">Nouveau Client</h1>
	

		{{ include('clients/_form.html.twig') }}
		<button id="annuler" class="btn btn-danger"><a href="{{ path('clients_index') }}">❌ Annuler</a></button>




{% endblock %}
